* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}

.App {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

blockquote {
  font-size: 2.5rem;
}

@include media-breakpoint-up(sm) {
  blockquote {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  blockquote {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  blockquote {
    font-size: 1.6rem;
  }
}

#quote-container {
  display: flex;
  height: auto;
  width: 70%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#quote-container button {
  margin: 1.7em;
  text-decoration: none;
  border: none;
}
